DotNet9Authentication/DotNet9Authentication/appsettings.Development.json
DotNet9Authentication/DotNet9Authentication/appsettings.json
DotNet9Authentication/.vs/
DotNet9Authentication/DotNet9Authentication/bin
DotNet9Authentication/DotNet9Authentication/obj
DotNet9Authentication/DotNet9Authentication/Properties